body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1{
    color: #333;
}

.principal{
    color: #9e9c2d; 
    font-size: 1.5em; 
}

#titulo1 {
    color: #2aadd4; 
    font-size: 2em; 
}