body{
    background-color: #040416;
}

.titulop {
    font-size: x-large;  
}

.textonormal {
    font-size: medium;
}

.caja {
    color: rgb(247, 237, 237);
    font-family: Arial, sans-serif;
    background-color: #19193d; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 10px 10px 10px #39386e; 
    margin-bottom: 30px;
    max-width: 95%; 
    box-sizing: border-box; 
}

.contenedor {
    display: flex;
    align-items: flex-start;
}

.contenedor img {
    max-width: 50%; 
    height: auto; 
    border-radius: 10px; 
}

.gcontenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
}

.caja2 {
    margin: 10px;
    background-color: #151394; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 10px 10px 10px #0032d8;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
}

.caja2 img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
}

@media (max-width: 930px) {
    .contenedor {
        flex-direction: column; 
        align-items: center; 
    }
    .contenedor img {
        max-width: 100%; 
        height: auto; 
        border-radius: 10px; 
    }

    .gcontenedor {
        grid-template-columns: repeat(2, 1fr);  
    }
    .titulop {
        font-size: large; 
    }

    .textonormal {
        font-size: small; 
    }

    .caja {
        padding: 15px; 
        margin-bottom: 20px; 
        align-items: center; 
    }

    .caja2 {
        margin: 5px; 
        padding: 15px; 
    }

    
}

@media(max-width: 600px) {

    .gcontenedor {
        grid-template-columns: 1fr;
        align-items: center; 
    }

}